#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVCMOS33;
#NET "rst_n" LOC = P38 | IOSTANDARD = LVCMOS33;

NET "cclk" LOC = P70 | IOSTANDARD = LVCMOS33;

NET "led<0>" LOC = P134 | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = P133 | IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = P132 | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = P131 | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = P127 | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = P126 | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = P124 | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = P123 | IOSTANDARD = LVCMOS33;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVCMOS33;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVCMOS33;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVCMOS33;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVCMOS33;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVCMOS33;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVCMOS33;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVCMOS33;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVCMOS33;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVCMOS33;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVCMOS33;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVCMOS33;

NET "parallel_in<0>" LOC = P51 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<1>" LOC = P40 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<2>" LOC = P41 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<3>" LOC = P34 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<4>" LOC = P32 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<5>" LOC = P33 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<6>" LOC = P30 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<7>" LOC = P26 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<8>" LOC = P27 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<9>" LOC = P23 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<10>" LOC = P22 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<11>" LOC = P16 | IOSTANDARD = LVCMOS33 | PULLDOWN | CLOCK_DEDICATED_ROUTE;
NET "parallel_in<12>" LOC = P17 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<13>" LOC = P14 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<14>" LOC = P15 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<15>" LOC = P11 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<16>" LOC = P8 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<17>" LOC = P5 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<18>" LOC = P6 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<19>" LOC = P2 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<20>" LOC = P143 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<21>" LOC = P144 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<22>" LOC = P141 | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "parallel_in<23>" LOC = P142 | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET "pwm_osc_00_out" LOC = P57 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_01_out" LOC = P58 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_02_out" LOC = P66 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_03_out" LOC = P67 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_04_out" LOC = P74 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_05_out" LOC = P75 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_06_out" LOC = P78 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_07_out" LOC = P79 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_08_out" LOC = P80 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_09_out" LOC = P81 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_10_out" LOC = P82 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_11_out" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_12_out" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "pwm_osc_13_out" LOC = P85 | IOSTANDARD = LVCMOS33;
NET "digital_osc_14_out" LOC = P87 | IOSTANDARD = LVCMOS33;
NET "digital_osc_15_out" LOC = P88 | IOSTANDARD = LVCMOS33;
NET "digital_osc_16_out" LOC = P92 | IOSTANDARD = LVCMOS33;
NET "digital_osc_17_out" LOC = P93 | IOSTANDARD = LVCMOS33;
NET "digital_osc_18_out" LOC = P94 | IOSTANDARD = LVCMOS33;
NET "digital_osc_19_out" LOC = P95 | IOSTANDARD = LVCMOS33;
NET "digital_osc_20_out" LOC = P97 | IOSTANDARD = LVCMOS33;
NET "digital_osc_21_out" LOC = P98 | IOSTANDARD = LVCMOS33;
NET "digital_osc_22_out" LOC = P99 | IOSTANDARD = LVCMOS33;
NET "digital_osc_23_out" LOC = P100 | IOSTANDARD = LVCMOS33;

#NET "brushOff_singlePulse_out" LOC = P84 | IOSTANDARD = LVCMOS33;
#NET "snare_repeat_out" LOC = P82 | IOSTANDARD = LVCMOS33;
